{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/teleprograms.css' %}">

            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__item">
                    <div style="height: 100%; background: orange;">1</div>
                    </div>
                    <div class="slider__item">
                    <div style="height: 100%; background: green;">2</div>
                    </div>
                    <div class="slider__item">
                    <div style="height: 100%; background: violet;">3</div>
                    </div>
                    <div class="slider__item">
                    <div style="height: 100%; background: coral; ">4</div>
                    </div>
                </div>
                <a class="slider__control slider__control_left" href="#" role="button"></a>
                <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
            </div>
            <script src="{% static 'js/slider.js' %}"></script>

            <div class="container_img">
                {% for x in programs %}
                    <div class="img_box">
                    <a href="/teleprograms/program/{{ x.id }}"><img class="img" src="media/tele_images/{{ x.image }}"/></a>
                    <h2 class="title_column">{{ x.name }}</h2><p class="text_column"></p><p class="useless">{{ x.show }}; {{ x.channel }}</p></div>
                {% endfor %}
            </div>


{% endblock content %}