.container_img {
    display: inline-block;
    position: absolute;
    top: 200px;
    height: 100%;
    width: 1200px;
}
.img_box {
    position: relative;
    top: 500px;
    left: 100px;
    display: block;
    border: 1px solid #CCC;
    box-sizing: border-box;
    width: 270px ;
    height: 250px;
    margin: 5px;
    float: left;
}
.img {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    text-decoration: none;
    border: none;
}
/* Slider */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
}

.slider {
    position: relative;
    top: 130px;
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.slider__item {
    max-width: 100%;
    flex: 0 0 100% ;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
    height: 600px;
}

.show{
    position: absolute;
    width: 100%;
    height: 500px;
    display: inline-block;
    top: 300px;
}

.img {
    position: inherit;
    display: block;
    width: 450px;
    height:500px;
    left: 10%;
}

.text{
    position: inherit;
    top: 50px;
    left: 620px;
    width: 550px;
    height: 1200px;
}

.title{
    font-family: 'Diplomata', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    z-index: 44;
}
